<!--  PHOTO-->
<form action="/save" enctype="multipart/form-data" method="POST"> 
	<input type="file" name="file" accept="image/*" />
	<input type="submit" value="Upload Image"/>
</form>
		 
<!--  SINGLE FILE -->
<!-- <form action="/uploadfile" enctype="multipart/form-data" method="POST"> 
		<input type="file" name="file" />
		<input type="submit" value="Upload a file"/>
</form> -->